<%= render partial: 'admin/users/navber' %>
<div class="container backimg2 my-5">
    <% if flash[:notice] %>
    <div class="alert alert-warning col-12 flashitem1"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger col-12 flashitem1"><%= flash[:alert] %></div>
    <% end %>
    <div class="row">
        <div class="col-lg-7 col-12">
            <img src="assets/sw2.jpg" class="mx-lg-1 my-lg-4 m-4">
        </div>
        <div class="col-lg-5 col-12 fontcolor my-lg-5 mb-5">
            <h1 class="pt-4 loginitem">Share Heritage</h1>
            <p>ログインしてみんなと旅行の思い出を共有しましょう！</p>
            <%= form_with scope: :session, local: true do |f| %>
            <div class="form-group">
                <i class="fas fa-envelope"></i> <%= f.label :mail, 'メールアドレス' %>
                <%= f.text_field :mail, class: 'form-control', id: 'session_mail' %>
            </div>
            <div class="form-group">
                <i class="fa fa-key" aria-hidden="true"></i> <%= f.label :password, 'パスワード' %>
                <%= f.text_field :password, class: 'form-control', id: 'session_password' %>
            </div>
            <div class="d-flex">
                <div class="pt-4 pr-3">
                    <%= f.submit 'ログイン', class: 'btn btn-primary' %>
                    <% end %>
                </div>
                <div class="pt-4">
                    <%= link_to '新規登録', new_admin_user_path, class: 'btn btn-warning' %>
                </div>
            </div>
        </div>
    </div>
</div>