<%= render partial: 'navber' %>
<div class="backimg1">
    <div class="imgmsk">
        <div class="container">
            <div class="d-flex align-items-center py-3">
                <h1 class="dsplay-4 mt-5">
                    <%= link_to '投稿一覧', posts_path %>
                </h1>
                <div class="ml-auto mt-5 pt-2 boards__linkBox">
                    <div>
                        <%= search_form_for @q do |f| %>
                        <i class="fa fa-search-plus" aria-hidden="true"></i> <%= f.label :title_cont, "遺産名" %>
                        <%= f.search_field :title_cont %>
                        <%= f.submit "検索", class: 'btn btn-primary actions' %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="row">
                <% if flash[:notice] %>
                <div class="alert alert-primary col-12 flashitem1"><%= flash[:notice] %></div>
                <% end %>
            </div>
            <div class="row">
                <% if flash[:alert] %>
                <div class="alert alert-danger col-12 flashitem1"><%= flash[:alert] %></div>
                <% end %>
            </div>
            <div class="row ml-lg-5 pl-lg-3 ml-3 mt-3">
                <% @posts.each do |p| %>
                <div class="col-5 col-xl-3 postbg m-4">
                    <div class="mt-2 mt-xl-0">
                        <% if p.image? %>
                        <%= image_tag p.image.url, class: 'mt-3 ml-2 ml-lg-0 post-thumbnail' %>
                        <% else %>
                        <%= image_tag 'sw3.jpg', class: 'imgs mt-3 ml-2 ml-lg-0 post-thumbnail' %>
                        <% end %>
                    </div>
                    <p class="fs1 badge badge-warning mt-3 cw"><%= p.name %></p>
                    <div class="card mb-4">
                        <div class="card-header">
                            <p class="m-0"><%= p.title %></p>
                        </div>
                        <div class="card-text">
                            <p class="ml-1 mb-2"><%= link_to '投稿をみる', post_path(p), class: 'btn' %></p>
                            <p class="ml-3 fs2"><%= p.created_at.to_s(:datetime_jp) %></p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="mt-3 pb-5">
                <div class="py-3 pageitem"><%= paginate @posts %></div>
            </div>
        </div>
    </div>
</div>