<%= render partial: 'navber' %>
<div class="container backimg2 pb-5 my-5">
    <div class="d-flex align-items-center my-4 pt-4 pb-2">
        <h2 class="cw"><%= @post.name %>さんの投稿詳細</h2>
        <div class="ml-auto">
            <%= link_to '一覧', posts_path, class: 'btn btn-primary' %>
            <%= link_to '編集', edit_post_path(@post), class: 'btn btn-warning' %>
            <%= link_to '削除', post_path(@post), class: 'btn btn-danger', method: :delete, data: { confirm: '投稿を削除してもよろしいですか？' }  %>
        </div>
    </div>
    <% if flash[:notice] %>
    <div class="alert alert-warning col-12 flashitem1"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger col-12 flashitem1"><%= flash[:alert] %></div>
    <% end %>
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="m-0 p-0">
                <%= @post.title %>
                <p class="m-1 p-1 badge badge-primary"><%= @post.cname %></p>
            </h4>
        </div>
        <div class="card-body">
            <p class="card-text"><%= simple_format(@post.body) %></p>
            <p class="pt-4 card-img-bottom">
                <% if @post.image? %>
                <%= image_tag @post.image.url %>
                <% end %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="card mx-4 col-6 col-lg-7">
            <div class="card-header">
                <h4>お役立ち情報 <i class="fas fa-info-circle"></i>
            </div>
            <div class="card-body">
                <p class="card-text"><%= simple_format(@post.information) %></p>
            </div>
        </div>
        <div class="card ml-3 col-4">
            <div class="card-header">
                <h4>料金 <i class="fas fa-yen-sign"></i>
            </div>
            <div class="card-body">
                <p class="card-text"><%= @post.fee %></p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="py-5 pl-3 cw">コメント <i class="fas fa-comments"></i></h2>
        <div class="card mx-5">
            <% @post.comments.each do |comment| %>
            <div class="card-header d-flex py-0">
                <p class="mb-0 my-auto"><%= comment.name %></p>
                <p class="ml-auto mt-3"><%= link_to '×', post_comment_path(@post, comment), method: :delete, data: { confirm: 'コメントを削除してもよろしいですか？' }  %></p>
            </div>
            <div class="card-body">
                <p class="card-text"><%= simple_format(comment.comment) %></p>
                <div class="d-flex">
                    <p class="ml-auto mb-0"><%= comment.created_at.to_s(:datetime_jp) %></p>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="container backimg2 pb-5 my-5">
    <h2 class="cw py-4">コメント入力欄</h2>
    <div class="px-4">
        <%= form_for ([@post, @post.comments.build]) do |f| %>
        <div class="form-group">
            <%= f.label :name, '名前', class: 'hitem1' %> <i class="fa fa-address-book"></i>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :comment, 'コメント', class: 'hitem1' %> <i class="fas fa-comments"></i>
            <%= f.text_field :comment, class: 'form-control' %>
        </div>
        <div class="pt-4">
            <%= f.submit '投稿', class: 'btn btn-warning' %>
            <% end %>
        </div>
    </div>
</div>